<header class="header">
<div class="holder-content">
    <nav class="nav">
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">TEAM</a></li>
            <li><a href="#">BOOKING</a></li>
        </ul>
        <a href="#" class="logo"><img src="img/logo.svg" alt=""></a>
        <ul>          
            <li><a href="#">MENU</a></li>
            <li><a href="#">GALERIE</a></li>
            <li><a href="#">EVENTS</a></li>
            <li><a href="#">CONTACT</a></li>
        </ul>
    </nav>
    <a class="btn-mob" href="#">
        <span></span>
        <span></span>
        <span></span>
    </a>
</div>
</header>