@font-face {
  font-family: "Banny";
  src: url("../fonts/Banny-BoldRound.eot");
  src: local("☺"), url("../fonts/Banny-BoldRound.woff") format("woff"),
    url("../fonts/Banny-BoldRound.ttf") format("truetype"),
    url("../fonts/Banny-BoldRound.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
